<div *ngIf="!isRegx" id="spinn">
    <img src="../../../../assets/img/spinner-gif.gif">
</div>


<div *ngIf="isRegx">
    <app-navI></app-navI>
    <h2>Este es tu querido restaurante</h2>
</div>


<div *ngIf="isRegx" class="all">
    <div class="card">
        <div *ngIf="restaurants.imageUrl">
            <img class="img-restaurant" [src]="'http://'+restaurants.imageUrl">
        </div>
        <div *ngIf="!restaurants.imageUrl">
            <img class="img-restaurant" [src]="image_default">
        </div>
        <hr>
        <div class="container">
            <h4>{{restaurants.restaurant_name}}</h4>
            <p>{{restaurants.ubication}}</p>
        </div>
    </div>
</div>


<div class="botones-mod">
    <button class="btn" *ngIf="isRegx" [routerLink]="['/admin/patchR']">Modificar restaurante</button>
    <button class="btn" *ngIf="isRegx" [routerLink]="['/admin/mis-menus']">Modificar menú</button>
    <button class="btn" *ngIf="isRegx" (click)="eliminarR()">Eliminar restaurante</button>
</div>