<app-navI></app-navI>
<h2>¿Quieres modificar algo del menú de tu restaurante?</h2>

<div class="general">

    <div style="text-align: center;" *ngIf="btn_bool">
        <button class="btn" (click)="changeBtn()">Agregar un Menú</button>
    </div>

    <div style="text-align: center;" *ngIf="!btn_bool">
        <app-post-menu></app-post-menu>
        <button class="btn" (click)="changeBtn()">Cerrar formulario</button>
    </div>


    <div class="sub-div">
        <button class="btn" [routerLink]="['/admin/all-menus']">Modificar Menú</button>

        <button class="btn" [routerLink]="['/admin/mi-restaurante']">Volver</button>
    </div>
</div>