<div *ngIf="!visible" id="spinn">
    <img src="../../../../assets/img/spinner-gif.gif">
</div>

<div class="externos" *ngIf="visible">
    <app-navI></app-navI>
    <h2>¿Es hora de actualizar el menu?</h2>
</div>

<div style="text-align: center;" *ngIf="visible">
    <div *ngIf="form">
        <form [formGroup]="myGroup" (ngSubmit)="moverForm()">
            <div>
                <input type="text" placeholder="nombre" formControlName="menu_name">
            </div>
            <div>
                <input type="number" placeholder="precio" formControlName="precio">
            </div>
            <button class="btn" type="submit">Siguiente</button>
        </form>
    </div>

</div>

<div style="text-align: center;" *ngIf="visible">
    <div *ngIf="!form">
        <input type="file" (change)="onFileSelected($event)">
        <br>
        <button class="btn" type="button" (click)="postImage()">Guardar con imagen</button>
        <button class="btn" type="button" (click)="patchMenu()">Guardar sin imagen</button>
        <br>
        <button class="btn" (click)="moverForm()">Volver</button>
    </div>
</div>

<br>
<div style="text-align: center;" *ngIf="visible">
    <button class="btn" [routerLink]="['/admin/all-menus']">Volver al menu</button>
</div>