<h4>Formulario para agregar un nuevo menú</h4>
<div *ngIf="form">
    <form [formGroup]="formGroup" (ngSubmit)="moverForm()">
        <div>
            <input type="text" placeholder="nombre" formControlName="menu_name">
        </div>
        <div>
            <input type="number" placeholder="precio" formControlName="precio">
        </div>
        <button class="btn" type="submit">Siguiente</button>
    </form>
</div>

<div *ngIf="!form">
    <input type="file" (change)="onFileSelected($event)"> <br>
    <button class="btn" type="button" (click)="postImage()">Guardar con imagen</button>
    <button class="btn" type="button" (click)="postMenus()">Guardar sin imagen</button>
    <br>
    <button class="btn" (click)="moverForm()">Volver</button>
</div>
<br>