<div *ngIf="!visual" id="spinn">
    <img src="../../../../assets/img/spinner-gif.gif">
</div>

<div class="externos" *ngIf="visual">
    <app-navI></app-navI>
    <h4>Aqui puedes cambiar los datos importantes de tu restaurante</h4>
</div>

<div *ngIf="visual">
    <div class="formulario" *ngIf="form">
        <form [formGroup]="patchGroup" (ngSubmit)="moverForm()">
            <div>
                <input type="text" placeholder="nombre" formControlName="restaurant_name">
            </div>
            <div>
                <input type="text" placeholder="ubication" formControlName="ubication">
            </div>
            <button class="btn" type="submit">Siguiente</button>
        </form>
    </div>

    <div class="images-form" *ngIf="!form">
        <input type="file" (change)="onFileSelected($event)">
        <br>
        <button class="btn" type="button" (click)="postImage()">Guardar con imagen</button>
        <button class="btn" type="button" (click)="patchRestaurant()">Guardar sin imagen</button>
        <br>
        <button class="btn" (click)="moverForm()">Volver</button>
    </div>
    <br>

    <div style="text-align: center;">
        <button class="btn" [routerLink]="['/admin/mi-restaurante']">Volver a mi restaurante</button>
    </div>
</div>