<div *ngIf="visual">
    <app-navI></app-navI>
</div>

<div style="text-align: center;" div *ngIf="visual">
    <h2>Información de usuario</h2><br>
    <h4> ¡Hola! {{user.user_name}} {{user.user_lname}}</h4><br>
    <div class="cobertor-seccion">
        <div class="tabla-form">
            <form [formGroup]="formGroup" (ngSubmit)="patchUser()">
                <fieldset [disabled]="cambiar">
                    <label>Correo</label>
                    <input type="text" placeholder="email" formControlName="email">
                </fieldset>
                <fieldset [disabled]="cambiar">
                    <label>Ubicación</label>
                    <input type="text" placeholder="ubication" formControlName="email">
                </fieldset>
                <fieldset [disabled]="cambiar">
                    <label>Contraseña</label>
                    <input type="password" placeholder="********" formControlName="password">
                </fieldset>
                <fieldset *ngIf="!cambiar">
                    <label>Verificar contraseña</label>
                    <input type="password" placeholder="********" formControlName="cpassword">
                </fieldset>
                <br>
                <button class="btn" type="submit" *ngIf="form">Guardar</button>
            </form>
            <br>
        </div>
    </div>
    <br>
    <button class="btn" (click)="permitirCambio()" *ngIf="cambiar">Cambiar datos</button>
    <button class="btn" (click)="permitirCambio()" *ngIf="!cambiar">No modificar datos</button>
</div>

<br>
<div style="text-align: center;" *ngIf="visual">
    <button class="btn" (click)="logOut()">Cerrar sesión</button>
    <button class="btn" (click)="eliminarCuenta()">Eliminar Cuenta</button>
</div>